.option-item-enter {
  opacity: 0;
}

.option-item-enter-active {
  transition: all 0.2s ease-in;
  opacity: 1;
}

.option-item-exit {
}

.option--exit-active {
  opacity: 0;
  transition: opacity 200ms ease-out;
}
