.icon-button-btn,
.icon-button-btn-inverted {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  transition: all var(--transition-base-duration);
  border: none;
  color: var(--color-base-blue-darker);
  background-color: white;
  cursor: pointer;
  padding: 6px 6px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-button-btn-inverted {
  color: white;
  background-color: var(--color-base-blue);
}

/*----------------------*/

.icon-button-btn-inverted:disabled {
  background-color: var(--color-base-gray);
  cursor: inherit;
  opacity: 0.5;
}

.icon-button-btn-inverted:hover:not([disabled]) {
  background-color: var(--color-base-blue-lighter);
  outline: none;
}

/*----------------------*/

.icon-button-btn:disabled {
  color: var(--color-base-gray-darker);
  cursor: inherit;
  opacity: 0.5;
}

.icon-button-btn:hover:not([disabled]) {
  background-color: var(--color-base-gray-lightest);
  outline: none;
}

/*----------------------*/

.icon-button-text {
  padding-left: 5px;
}

/*----------------------*/

.icon-button-btn-s {
  padding: 5.2px 6px;
}

.icon-button-btn-m {
  padding: 7.2px 8px;
}

.icon-button-btn-l {
  padding: 9.2px 10px;
}

/*----------------------*/

.icon-button-icon-s {
  font-size: 12px;
}

.icon-button-icon-m {
  font-size: 16px;
}

.icon-button-icon-l {
  font-size: 20px;
}

/*----------------------*/

.icon-button-text-s {
  font-size: 12px;
}

.icon-button-text-m {
  font-size: 16px;
}

.icon-button-text-l {
  font-size: 20px;
}
