/* Code copy from stamp app without useles css. CHECKED AND OK */
/* .standardInputPasswordInput {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 85%;
  height: 100%;
  background-color: var(--input-bg-color);
  transition: all var(--transition-duration);
  font-size: var(--font-size);
  border-bottom: 2.7px solid var(--base-color);
  padding: 5px 10px;
}

.standardInputPasswordInput:focus {
  background-color: var(--input-bg-focus-color);
}

.standardInputPasswordInput:disabled {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
}

.iconButtonPasswordInput {
  cursor: pointer;
  position: relative;
  font-size: 1.5em;
  text-align: right;
  padding-right: 5px;
  width: 15%;
  height: 100%;
  border-bottom: 2.7px solid var(--base-color);
  background-color: var(--input-bg-color);
  transition: all 400ms;
}

.iconButtonFocusedPasswordInput {
  cursor: pointer;
  position: relative;
  font-size: 1.5em;
  text-align: right;
  padding-right: 5px;
  width: 15%;
  height: 100%;
  border-bottom: 2.7px solid var(--base-color);
  background-color: var(--input-bg-focus-color);
  transition: all 400ms;
}

.iconButtonPasswordInput:disabled {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
}

.inputWithIconButtonPasswordInput {
  display: flex;
  font-family: inherit;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: var(--input-bg-color);
}

.forgotPasswordLabelPasswordInput {
  text-align: right;
  margin-bottom: 10%;
  font-size: var(--base-additional-text-font-size);
  font-family: inherit;
  font-weight: 400;
  color: #545454;
  width: 100%;
  height: 100%;
  justify-content: left;
  align-items: flex-end;
  cursor: pointer;
}

.forgotPasswordLabelPasswordInput:hover {
  color: var(--base-color);
}

.forgottenPasswordDivPasswordInput {
  color: #545454;
  position: relative;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
  padding-top: 9px;
} */

/* Neno's code */
.standardInputPasswordInput {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background-color: var(--color-base-backgroud);
  transition: all var(--transition-base-duration);
  font-size: var(--font-size-base);
  border: 0px;
  border-bottom: 2px solid var(--color-base-blue);
  height: 100%;
  width: 100%;
  padding: 0px;
}

.standardInputPasswordInput:focus {
  background-color: var(--color-base-white);
}

.standardInputPasswordInput:disabled {
  background-color: var(--color-base-gray-lighter);
  color: var(--color-base-gray-darker);
}

.iconButtonPasswordInput {
  cursor: pointer;
  position: relative;
  font-size: 1.5em;
  text-align: right;
  padding-right: 5px;
  width: 15%;
  height: 100%;
  border: 0px;
  border-bottom: 2px solid var(--color-base-blue);
  background-color: var(--color-base-backgroud);
  transition: all var(--transition-base-duration);
  padding: 0px;
}

.iconButtonFocusedPasswordInput {
  cursor: pointer;
  position: relative;
  font-size: 1.5em;
  text-align: right;
  padding-right: 5px;
  width: 15%;
  height: 100%;
  border-bottom: 2px solid var(--color-base-blue);
  background-color: var(--color-base-white);
  transition: all var(--transition-base-duration);
  padding: 0px;
}

.iconButtonPasswordInput:disabled {
  background-color: var(--color-base-gray-lighter);
  color: var(--color-base-gray-darker);
}

.inputWithIconButtonPasswordInput {
  display: flex;
  font-family: inherit;
  outline: none;
  width: 100%;
  height: 100%;
}

.iconButtonPasswordInputInFocus {
  cursor: pointer;
  position: relative;
  font-size: 1.5em;
  text-align: right;
  padding-right: 5px;
  width: 15%;
  height: 100%;
  border-bottom: 2px solid var(--color-base-blue);
  background-color: var(--color-base-white);
  transition: all 400ms;
}

.forgotPasswordLabelPasswordInput {
  text-align: right;
  margin-bottom: 10%;
  font-size: var(--font-size-base);
  font-family: inherit;
  font-weight: 400;
  color: #545454;
  width: 100%;
  height: 100%;

  justify-content: left;
  align-items: flex-end;
  cursor: pointer;
}

.forgotPasswordLabelPasswordInput:hover {
  color: var(--color-base-blue);
}

.forgottenPasswordDivPasswordInput {
  color: #545454;
  position: relative;
  cursor: pointer;
  width: 100%;
  font-size: 0.8em;
  padding-top: 5px;
}
