/* Generated code
export const styles  = {
  'input[type="checkbox"]': {
    width: "20px",
    height: "20px",
    verticalAlign: "middle",
    paddingBottom: "3px"
  },
  'input[type="checkbox"]:hover': { boxShadow: "0px 0px 10px gray" },
  ".checkBoxLabel": { verticalAlign: "middle", paddingLeft: "5px" },
  ".checkBoxLine": { paddingBottom: "3px" }
} */

/* Original CSS */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding-bottom: 3px;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  box-shadow: 0px 0px 10px gray;
}

.checkBoxLabel {
  vertical-align: middle;
  padding-left: 5px;
}

.checkBoxLine {
  padding-bottom: 3px;
}
