/* Code copy from stamp app without useles css. CHECKED AND NEED TO BE TESTED (datePickerWrapper class) */
/* input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.standardInputDateInput {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: var(--input-bg-color);
  transition: all var(--transition-duration);
  font-size: var(--font-size);
  border-bottom: 2.7px solid var(--base-color);
  padding: 5px 10px;
}

.standardInputDateInput:focus {
  background-color: var(--input-bg-focus-color);
}

.standardInputDateInput:disabled {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
} */

/* Neno's code */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.standardInputDateInput {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background-color: var(--color-base-backgroud);
  transition: all var(--transition-base-duration);
  font-size: var(--font-size-base);
  border: 0px;
  border-bottom: 3px solid var(--color-base-blue);
  min-height: 60%;
  width: 100%;
}

.standardInputDateInput:focus {
  background-color: var(--color-base-white);
}

.standardInputDateInput:disabled {
  background-color: var(--color-base-gray-lighter);
  color: var(--color-base-gray-darker);
}
