/* Code copy from stamp app without useles css. NOT CHECKED */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.standardInputDateInput {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background-color: var(--color-base-backgroud);
  transition: all var(--transition-base-duration);
  font-size: var(--font-size-base);
  border-bottom: 3px solid var(--color-base-blue);
  padding: 5px 5px;
  min-height: 60%;
  width: 100%;
}

.standardInputDateInput:focus {
  background-color: var(--color-base-white);
}

.standardInputDateInput:disabled {
  background-color: var(--color-base-gray-lighter);
  color: var(--color-base-gray-darker);
}

/* Neno's code
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.standardInputDateInput {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background-color: var(--color-base-backgroud);
  transition: all var(--transition-base-duration);
  font-size: var(--font-size-base);
  border-bottom: 3px solid var(--color-base-blue);
  padding: 5px 5px;
  min-height: 60%;
  width: 100%;
}

.standardInputDateInput:focus {
  background-color: var(--color-base-white);
}

.standardInputDateInput:disabled {
  background-color: var(--color-base-gray-lighter);
  color: var(--color-base-gray-darker);
} */
