
.mng-lnc-vacation:before { content: '\e800'; } /* '' */
.mng-lnc-video:before { content: '\e801'; } /* '' */
.mng-lnc-view:before { content: '\e802'; } /* '' */
.mng-lnc-view--filled:before { content: '\e803'; } /* '' */
.mng-lnc-view--mode-2:before { content: '\e804'; } /* '' */
.mng-lnc-volume--mute--filled:before { content: '\e805'; } /* '' */
.mng-lnc-volume--up:before { content: '\e806'; } /* '' */
.mng-lnc-volume--up--filled:before { content: '\e807'; } /* '' */
.mng-lnc-warning--filled:before { content: '\e808'; } /* '' */
.mng-lnc-wifi-02:before { content: '\e809'; } /* '' */
.mng-lnc-3d-software:before { content: '\e80a'; } /* '' */
.mng-lnc-air-conditioner:before { content: '\e80b'; } /* '' */
.mng-lnc-yoga:before { content: '\e80c'; } /* '' */
.mng-lnc-application:before { content: '\e80d'; } /* '' */
.mng-lnc-add--alt:before { content: '\e80e'; } /* '' */
.mng-lnc-add:before { content: '\e80f'; } /* '' */
.mng-lnc-arrow--down:before { content: '\e810'; } /* '' */
.mng-lnc-user--settings:before { content: '\e811'; } /* '' */
.mng-lnc-analytics:before { content: '\e812'; } /* '' */
.mng-lnc-arrows--horizontal:before { content: '\e813'; } /* '' */
.mng-lnc-arrow--down-right:before { content: '\e814'; } /* '' */
.mng-lnc-user--online:before { content: '\e815'; } /* '' */
.mng-lnc-view--off:before { content: '\e816'; } /* '' */
.mng-lnc-bed:before { content: '\e817'; } /* '' */
.mng-lnc-arrow--up:before { content: '\e818'; } /* '' */
.mng-lnc-bath:before { content: '\e819'; } /* '' */
.mng-lnc-warning:before { content: '\e81a'; } /* '' */
.mng-lnc-backspace-solid:before { content: '\e81b'; } /* '' */
.mng-lnc-warning--alt--filled:before { content: '\e81c'; } /* '' */
.mng-lnc-baby-carriage-solid:before { content: '\e81d'; } /* '' */
.mng-lnc-bookmark:before { content: '\e81e'; } /* '' */
.mng-lnc-arrow--left:before { content: '\e81f'; } /* '' */
.mng-lnc-arrow--down-left:before { content: '\e820'; } /* '' */
.mng-lnc-attachment:before { content: '\e821'; } /* '' */
.mng-lnc-badge-check:before { content: '\e822'; } /* '' */
.mng-lnc-bookmark--filled:before { content: '\e823'; } /* '' */
.mng-lnc-annotation-alert:before { content: '\e824'; } /* '' */
.mng-lnc-bed-bunk:before { content: '\e825'; } /* '' */
.mng-lnc-application--mobile:before { content: '\e826'; } /* '' */
.mng-lnc-blog:before { content: '\e827'; } /* '' */
.mng-lnc-body-soap:before { content: '\e828'; } /* '' */
.mng-lnc-bag:before { content: '\e829'; } /* '' */
.mng-lnc-badge:before { content: '\e82a'; } /* '' */
.mng-lnc-car:before { content: '\e82b'; } /* '' */
.mng-lnc-box:before { content: '\e82c'; } /* '' */
.mng-lnc-boxing-glove-01:before { content: '\e82d'; } /* '' */
.mng-lnc-cake:before { content: '\e82e'; } /* '' */
.mng-lnc-arrow--up-right:before { content: '\e82f'; } /* '' */
.mng-lnc-calendar-lines:before { content: '\e830'; } /* '' */
.mng-lnc-bullhorn:before { content: '\e831'; } /* '' */
.mng-lnc-arrow--right:before { content: '\e832'; } /* '' */
.mng-lnc-arrows--vertical:before { content: '\e833'; } /* '' */
.mng-lnc-building:before { content: '\e834'; } /* '' */
.mng-lnc-blender:before { content: '\e835'; } /* '' */
.mng-lnc-bag-shopping:before { content: '\e836'; } /* '' */
.mng-lnc-calendar:before { content: '\e837'; } /* '' */
.mng-lnc-building-business:before { content: '\e838'; } /* '' */
.mng-lnc-building-1:before { content: '\e839'; } /* '' */
.mng-lnc-caret--sort--down:before { content: '\e83a'; } /* '' */
.mng-lnc-basketball:before { content: '\e83b'; } /* '' */
.mng-lnc-bolt-filled:before { content: '\e83c'; } /* '' */
.mng-lnc-cake--filled:before { content: '\e83d'; } /* '' */
.mng-lnc-camera:before { content: '\e83e'; } /* '' */
.mng-lnc-brush:before { content: '\e83f'; } /* '' */
.mng-lnc-car-side-1:before { content: '\e840'; } /* '' */
.mng-lnc-carousel--vertical:before { content: '\e841'; } /* '' */
.mng-lnc-cart-shopping:before { content: '\e842'; } /* '' */
.mng-lnc-chart--bar-stacked:before { content: '\e843'; } /* '' */
.mng-lnc-caravan-simple-1:before { content: '\e844'; } /* '' */
.mng-lnc-car--front:before { content: '\e845'; } /* '' */
.mng-lnc-candelier-02:before { content: '\e846'; } /* '' */
.mng-lnc-campfire:before { content: '\e847'; } /* '' */
.mng-lnc-chevron--left:before { content: '\e848'; } /* '' */
.mng-lnc-cart-plus:before { content: '\e849'; } /* '' */
.mng-lnc-cart-minus:before { content: '\e84a'; } /* '' */
.mng-lnc-cart-check:before { content: '\e84b'; } /* '' */
.mng-lnc-cart-shopping-1:before { content: '\e84c'; } /* '' */
.mng-lnc-calendar-dollar:before { content: '\e84d'; } /* '' */
.mng-lnc-cart-arrow-down:before { content: '\e84e'; } /* '' */
.mng-lnc-chart--column:before { content: '\e84f'; } /* '' */
.mng-lnc-certificate--check:before { content: '\e850'; } /* '' */
.mng-lnc-checkmark:before { content: '\e851'; } /* '' */
.mng-lnc-chevron--up:before { content: '\e852'; } /* '' */
.mng-lnc-chart--line-smooth:before { content: '\e853'; } /* '' */
.mng-lnc-checkmark--filled:before { content: '\e854'; } /* '' */
.mng-lnc-checkmark--outline:before { content: '\e855'; } /* '' */
.mng-lnc-choose-item:before { content: '\e856'; } /* '' */
.mng-lnc-chart--average:before { content: '\e857'; } /* '' */
.mng-lnc-caret--sort--up:before { content: '\e858'; } /* '' */
.mng-lnc-circle-stack:before { content: '\e859'; } /* '' */
.mng-lnc-circle:before { content: '\e85a'; } /* '' */
.mng-lnc-cart-xmark:before { content: '\e85b'; } /* '' */
.mng-lnc-chat:before { content: '\e85c'; } /* '' */
.mng-lnc-chevron--sort:before { content: '\e85d'; } /* '' */
.mng-lnc-chevron--right:before { content: '\e85e'; } /* '' */
.mng-lnc-cics--system-group:before { content: '\e85f'; } /* '' */
.mng-lnc-chevron--down:before { content: '\e860'; } /* '' */
.mng-lnc-circle-dash:before { content: '\e861'; } /* '' */
.mng-lnc-child:before { content: '\e862'; } /* '' */
.mng-lnc-clean:before { content: '\e863'; } /* '' */
.mng-lnc-clock--filled:before { content: '\e864'; } /* '' */
.mng-lnc-close:before { content: '\e865'; } /* '' */
.mng-lnc-closed-caption:before { content: '\e866'; } /* '' */
.mng-lnc-close--filled:before { content: '\e867'; } /* '' */
.mng-lnc-close-large:before { content: '\e868'; } /* '' */
.mng-lnc-close--outline:before { content: '\e869'; } /* '' */
.mng-lnc-cloud--upload:before { content: '\e86a'; } /* '' */
.mng-lnc-color-palette:before { content: '\e86b'; } /* '' */
.mng-lnc-copy:before { content: '\e86c'; } /* '' */
.mng-lnc-corner-up-left:before { content: '\e86d'; } /* '' */
.mng-lnc-credit-card:before { content: '\e86e'; } /* '' */
.mng-lnc-credit-card-arrow-right-alt:before { content: '\e86f'; } /* '' */
.mng-lnc-crop:before { content: '\e870'; } /* '' */
.mng-lnc-crown:before { content: '\e871'; } /* '' */
.mng-lnc-cube:before { content: '\e872'; } /* '' */
.mng-lnc-cube--filled:before { content: '\e873'; } /* '' */
.mng-lnc-cube-view:before { content: '\e874'; } /* '' */
.mng-lnc-currency--dollar:before { content: '\e875'; } /* '' */
.mng-lnc-cursor--1:before { content: '\e876'; } /* '' */
.mng-lnc-cut-out:before { content: '\e877'; } /* '' */
.mng-lnc-delete:before { content: '\e878'; } /* '' */
.mng-lnc-delivery:before { content: '\e879'; } /* '' */
.mng-lnc-delivery--parcel:before { content: '\e87a'; } /* '' */
.mng-lnc-delivery-truck:before { content: '\e87b'; } /* '' */
.mng-lnc-deploy-rules:before { content: '\e87c'; } /* '' */
.mng-lnc-diagram:before { content: '\e87d'; } /* '' */
.mng-lnc-dice:before { content: '\e87e'; } /* '' */
.mng-lnc-dog-solid:before { content: '\e87f'; } /* '' */
.mng-lnc-dot:before { content: '\e880'; } /* '' */
.mng-lnc-download:before { content: '\e881'; } /* '' */
.mng-lnc-drag--horizontal:before { content: '\e882'; } /* '' */
.mng-lnc-draw-polygon-solid:before { content: '\e883'; } /* '' */
.mng-lnc-driveway:before { content: '\e884'; } /* '' */
.mng-lnc-earth--europe-africa:before { content: '\e885'; } /* '' */
.mng-lnc-earth--filled:before { content: '\e886'; } /* '' */
.mng-lnc-edit:before { content: '\e887'; } /* '' */
.mng-lnc-edit-1:before { content: '\e888'; } /* '' */
.mng-lnc-electronics:before { content: '\e889'; } /* '' */
.mng-lnc-elevator:before { content: '\e88a'; } /* '' */
.mng-lnc-email:before { content: '\e88b'; } /* '' */
.mng-lnc-email-filled:before { content: '\e88c'; } /* '' */
.mng-lnc-engine:before { content: '\e88d'; } /* '' */
.mng-lnc-error:before { content: '\e88e'; } /* '' */
.mng-lnc-face--activated--add:before { content: '\e88f'; } /* '' */
.mng-lnc-face--satisfied:before { content: '\e890'; } /* '' */
.mng-lnc-female-02:before { content: '\e891'; } /* '' */
.mng-lnc-file:before { content: '\e892'; } /* '' */
.mng-lnc-file-excel-solid:before { content: '\e893'; } /* '' */
.mng-lnc-filter---sm:before { content: '\e894'; } /* '' */
.mng-lnc-filter:before { content: '\e895'; } /* '' */
.mng-lnc-fire:before { content: '\e896'; } /* '' */
.mng-lnc-folder:before { content: '\e897'; } /* '' */
.mng-lnc-folder--details:before { content: '\e898'; } /* '' */
.mng-lnc-football:before { content: '\e899'; } /* '' */
.mng-lnc-football-ball-solid:before { content: '\e89a'; } /* '' */
.mng-lnc-fridge:before { content: '\e89b'; } /* '' */
.mng-lnc-fuel:before { content: '\e89c'; } /* '' */
.mng-lnc-game--console:before { content: '\e89d'; } /* '' */
.mng-lnc-garage:before { content: '\e89e'; } /* '' */
.mng-lnc-gas-station:before { content: '\e89f'; } /* '' */
.mng-lnc-gift:before { content: '\e8a0'; } /* '' */
.mng-lnc-grid:before { content: '\e8a1'; } /* '' */
.mng-lnc-grid-filled:before { content: '\e8a2'; } /* '' */
.mng-lnc-grid--plus:before { content: '\e8a3'; } /* '' */
.mng-lnc-group-228:before { content: '\e8a4'; } /* '' */
.mng-lnc-hand-paper:before { content: '\e8a5'; } /* '' */
.mng-lnc-hand-pointer-solid:before { content: '\e8a6'; } /* '' */
.mng-lnc-hand-rock-solid:before { content: '\e8a7'; } /* '' */
.mng-lnc-hashtag:before { content: '\e8a8'; } /* '' */
.mng-lnc-health:before { content: '\e8a9'; } /* '' */
.mng-lnc-heart:before { content: '\e8aa'; } /* '' */
.mng-lnc-heart-filled:before { content: '\e8ab'; } /* '' */
.mng-lnc-heat:before { content: '\e8ac'; } /* '' */
.mng-lnc-help:before { content: '\e8ad'; } /* '' */
.mng-lnc-history:before { content: '\e8ae'; } /* '' */
.mng-lnc-home:before { content: '\e8af'; } /* '' */
.mng-lnc-home-1:before { content: '\e8b0'; } /* '' */
.mng-lnc-hotel:before { content: '\e8b1'; } /* '' */
.mng-lnc-hourglass:before { content: '\e8b2'; } /* '' */
.mng-lnc-house:before { content: '\e8b3'; } /* '' */
.mng-lnc-house-building:before { content: '\e8b4'; } /* '' */
.mng-lnc-idea:before { content: '\e8b5'; } /* '' */
.mng-lnc-image:before { content: '\e8b6'; } /* '' */
.mng-lnc-information:before { content: '\e8b7'; } /* '' */
.mng-lnc-information--filled:before { content: '\e8b8'; } /* '' */
.mng-lnc-internet:before { content: '\e8b9'; } /* '' */
.mng-lnc-key:before { content: '\e8ba'; } /* '' */
.mng-lnc-key-1:before { content: '\e8bb'; } /* '' */
.mng-lnc-land:before { content: '\e8bc'; } /* '' */
.mng-lnc-land-1:before { content: '\e8bd'; } /* '' */
.mng-lnc-lightning:before { content: '\e8be'; } /* '' */
.mng-lnc-link:before { content: '\e8bf'; } /* '' */
.mng-lnc-list:before { content: '\e8c0'; } /* '' */
.mng-lnc-list--bulleted:before { content: '\e8c1'; } /* '' */
.mng-lnc-list--checked:before { content: '\e8c2'; } /* '' */
.mng-lnc-list--numbered:before { content: '\e8c3'; } /* '' */
.mng-lnc-location:before { content: '\e8c4'; } /* '' */
.mng-lnc-location-arrow:before { content: '\e8c5'; } /* '' */
.mng-lnc-location--current:before { content: '\e8c6'; } /* '' */
.mng-lnc-location-filled:before { content: '\e8c7'; } /* '' */
.mng-lnc-locked:before { content: '\e8c8'; } /* '' */
.mng-lnc-logo-facebook:before { content: '\e8c9'; } /* '' */
.mng-lnc-logo--facebook:before { content: '\e8ca'; } /* '' */
.mng-lnc-logo--instagram:before { content: '\e8cb'; } /* '' */
.mng-lnc-logo--linkedin:before { content: '\e8cc'; } /* '' */
.mng-lnc-logout:before { content: '\e8cd'; } /* '' */
.mng-lnc-logo-viber:before { content: '\e8ce'; } /* '' */
.mng-lnc-logo-whatsapp:before { content: '\e8cf'; } /* '' */
.mng-lnc-logo--youtube:before { content: '\e8d0'; } /* '' */
.mng-lnc-male-02:before { content: '\e8d1'; } /* '' */
.mng-lnc-map:before { content: '\e8d2'; } /* '' */
.mng-lnc-maximize:before { content: '\e8d3'; } /* '' */
.mng-lnc-media--library:before { content: '\e8d4'; } /* '' */
.mng-lnc-media--library--filled:before { content: '\e8d5'; } /* '' */
.mng-lnc-medicine-02:before { content: '\e8d6'; } /* '' */
.mng-lnc-meeting-room:before { content: '\e8d7'; } /* '' */
.mng-lnc-megaphone:before { content: '\e8d8'; } /* '' */
.mng-lnc-menu:before { content: '\e8d9'; } /* '' */
.mng-lnc-menu-alt:before { content: '\e8da'; } /* '' */
.mng-lnc-messages:before { content: '\e8db'; } /* '' */
.mng-lnc-messages-filled:before { content: '\e8dc'; } /* '' */
.mng-lnc-money:before { content: '\e8dd'; } /* '' */
.mng-lnc-motorcycle-1:before { content: '\e8de'; } /* '' */
.mng-lnc-move:before { content: '\e8df'; } /* '' */
.mng-lnc-music:before { content: '\e8e0'; } /* '' */
.mng-lnc-new:before { content: '\e8e1'; } /* '' */
.mng-lnc-new-filled:before { content: '\e8e2'; } /* '' */
.mng-lnc-newspaper:before { content: '\e8e3'; } /* '' */
.mng-lnc-notes:before { content: '\e8e4'; } /* '' */
.mng-lnc-notification:before { content: '\e8e5'; } /* '' */
.mng-lnc-notification-alert:before { content: '\e8e6'; } /* '' */
.mng-lnc-notification-alert-filled:before { content: '\e8e7'; } /* '' */
.mng-lnc-notification--filled:before { content: '\e8e8'; } /* '' */
.mng-lnc-notification-muted:before { content: '\e8e9'; } /* '' */
.mng-lnc-notification-muted--filled:before { content: '\e8ea'; } /* '' */
.mng-lnc-organic-food:before { content: '\e8eb'; } /* '' */
.mng-lnc-overflow-menu--horizontal:before { content: '\e8ec'; } /* '' */
.mng-lnc-overflow-menu--vertical:before { content: '\e8ed'; } /* '' */
.mng-lnc-paint-brush:before { content: '\e8ee'; } /* '' */
.mng-lnc-paint-brush--alt:before { content: '\e8ef'; } /* '' */
.mng-lnc-parking-area-circle:before { content: '\e8f0'; } /* '' */
.mng-lnc-partnership:before { content: '\e8f1'; } /* '' */
.mng-lnc-password:before { content: '\e8f2'; } /* '' */
.mng-lnc-pause--filled:before { content: '\e8f3'; } /* '' */
.mng-lnc-paw:before { content: '\e8f4'; } /* '' */
.mng-lnc-paw2:before { content: '\e8f5'; } /* '' */
.mng-lnc-pencil:before { content: '\e8f6'; } /* '' */
.mng-lnc-percentage:before { content: '\e8f7'; } /* '' */
.mng-lnc-phone--filled:before { content: '\e8f8'; } /* '' */
.mng-lnc-phone--voice:before { content: '\e8f9'; } /* '' */
.mng-lnc-pin-fill:before { content: '\e8fa'; } /* '' */
.mng-lnc-pin-outline:before { content: '\e8fb'; } /* '' */
.mng-lnc-plant-02:before { content: '\e8fc'; } /* '' */
.mng-lnc-play:before { content: '\e8fd'; } /* '' */
.mng-lnc-play--filled--alt:before { content: '\e8fe'; } /* '' */
.mng-lnc-pool:before { content: '\e8ff'; } /* '' */
.mng-lnc-questionmarkcircle:before { content: '\e900'; } /* '' */
.mng-lnc-reload:before { content: '\e901'; } /* '' */
.mng-lnc-reminder:before { content: '\e902'; } /* '' */
.mng-lnc-renew:before { content: '\e903'; } /* '' */
.mng-lnc-repeat:before { content: '\e904'; } /* '' */
.mng-lnc-restaurant--fine:before { content: '\e905'; } /* '' */
.mng-lnc-result--draft:before { content: '\e906'; } /* '' */
.mng-lnc-review:before { content: '\e907'; } /* '' */
.mng-lnc-right-angle:before { content: '\e908'; } /* '' */
.mng-lnc-road:before { content: '\e909'; } /* '' */
.mng-lnc-rocket-filled:before { content: '\e90a'; } /* '' */
.mng-lnc-rotate--360:before { content: '\e90b'; } /* '' */
.mng-lnc-row:before { content: '\e90c'; } /* '' */
.mng-lnc-row--collapse:before { content: '\e90d'; } /* '' */
.mng-lnc-row--expand:before { content: '\e90e'; } /* '' */
.mng-lnc-row--insert:before { content: '\e90f'; } /* '' */
.mng-lnc-run:before { content: '\e910'; } /* '' */
.mng-lnc-sailboat--offshore:before { content: '\e911'; } /* '' */
.mng-lnc-scale:before { content: '\e912'; } /* '' */
.mng-lnc-screen:before { content: '\e913'; } /* '' */
.mng-lnc-search:before { content: '\e914'; } /* '' */
.mng-lnc-search--locate:before { content: '\e915'; } /* '' */
.mng-lnc-search-minus:before { content: '\e916'; } /* '' */
.mng-lnc-search-plus:before { content: '\e917'; } /* '' */
.mng-lnc-search--plus:before { content: '\e918'; } /* '' */
.mng-lnc-security:before { content: '\e919'; } /* '' */
.mng-lnc-security-1:before { content: '\e91a'; } /* '' */
.mng-lnc-send--alt:before { content: '\e91b'; } /* '' */
.mng-lnc-send--filled:before { content: '\e91c'; } /* '' */
.mng-lnc-settings:before { content: '\e91d'; } /* '' */
.mng-lnc-settings--adjust:before { content: '\e91e'; } /* '' */
.mng-lnc-settings-outlined:before { content: '\e91f'; } /* '' */
.mng-lnc-settings--services:before { content: '\e920'; } /* '' */
.mng-lnc-share:before { content: '\e921'; } /* '' */
.mng-lnc-shopping--bag:before { content: '\e922'; } /* '' */
.mng-lnc-ski:before { content: '\e923'; } /* '' */
.mng-lnc-sofa-01:before { content: '\e924'; } /* '' */
.mng-lnc-split-screen:before { content: '\e925'; } /* '' */
.mng-lnc-sport:before { content: '\e926'; } /* '' */
.mng-lnc-sport-1:before { content: '\e927'; } /* '' */
.mng-lnc-sprout:before { content: '\e928'; } /* '' */
.mng-lnc-stacked-scrolling--1:before { content: '\e929'; } /* '' */
.mng-lnc-star:before { content: '\e92a'; } /* '' */
.mng-lnc-star--filled:before { content: '\e92b'; } /* '' */
.mng-lnc-stars:before { content: '\e92c'; } /* '' */
.mng-lnc-stars-1:before { content: '\e92d'; } /* '' */
.mng-lnc-store:before { content: '\e92e'; } /* '' */
.mng-lnc-store-add:before { content: '\e92f'; } /* '' */
.mng-lnc-subtract:before { content: '\e930'; } /* '' */
.mng-lnc-subtract--alt:before { content: '\e931'; } /* '' */
.mng-lnc-tag:before { content: '\e932'; } /* '' */
.mng-lnc-tag--edit:before { content: '\e933'; } /* '' */
.mng-lnc-tag--filled:before { content: '\e934'; } /* '' */
.mng-lnc-target:before { content: '\e935'; } /* '' */
.mng-lnc-task--add:before { content: '\e936'; } /* '' */
.mng-lnc-text--align--center:before { content: '\e937'; } /* '' */
.mng-lnc-text--align--left:before { content: '\e938'; } /* '' */
.mng-lnc-text--align--right:before { content: '\e939'; } /* '' */
.mng-lnc-text--bold:before { content: '\e93a'; } /* '' */
.mng-lnc-text--clear-format:before { content: '\e93b'; } /* '' */
.mng-lnc-text--fill:before { content: '\e93c'; } /* '' */
.mng-lnc-text--font:before { content: '\e93d'; } /* '' */
.mng-lnc-text--italic:before { content: '\e93e'; } /* '' */
.mng-lnc-text--strikethrough:before { content: '\e93f'; } /* '' */
.mng-lnc-text--underline:before { content: '\e940'; } /* '' */
.mng-lnc-thumbnail--1:before { content: '\e941'; } /* '' */
.mng-lnc-thumbs-down:before { content: '\e942'; } /* '' */
.mng-lnc-thumbs-down--filled:before { content: '\e943'; } /* '' */
.mng-lnc-thumbs-up:before { content: '\e944'; } /* '' */
.mng-lnc-thumbs-up--filled:before { content: '\e945'; } /* '' */
.mng-lnc-ticket:before { content: '\e946'; } /* '' */
.mng-lnc-tiktok:before { content: '\e947'; } /* '' */
.mng-lnc-time:before { content: '\e948'; } /* '' */
.mng-lnc-timer:before { content: '\e949'; } /* '' */
.mng-lnc-touch--interaction:before { content: '\e94a'; } /* '' */
.mng-lnc-transmission:before { content: '\e94b'; } /* '' */
.mng-lnc-t-shirt:before { content: '\e94c'; } /* '' */
.mng-lnc-two-factor-authentication:before { content: '\e94d'; } /* '' */
.mng-lnc-upload:before { content: '\e94e'; } /* '' */
.mng-lnc-user:before { content: '\e94f'; } /* '' */
.mng-lnc-user--avatar:before { content: '\e950'; } /* '' */
.mng-lnc-user--identification:before { content: '\e951'; } /* '' */
.mng-lnc-user--multiple:before { content: '\e952'; } /* '' */
