.container {
  width: 100%;
  background-color: #eff1f3;
}

.number {
  text-align: center;
  font-weight: bold;
}

.success {
  color: rgb(31, 128, 231);
}

.danger {
  color: red;
}

.warning {
  color: rgb(165, 117, 15);
}

.ContainerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid var(--base-color);
}
