/* Generated code
export const styles = () => ({
  inputTransparentText: {
    border: 'none',
    margin: 0,
    text_decoration: 'none',
    _webkit_appearance: 'none',
    _moz_appearance: 'none',
    outline: 'none',
    background_color: 'transparent',
    width: '100%'
  }
}) */

/* Original CSS */
.inputTransparentText {
  border: none;
  margin: 0;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  margin: 0;
  background-color: transparent;
  width: 100%;
}
