.inputTransparentText {
  border: none;
  margin: 0;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  margin: 0;
  background-color: transparent;
  width: 100%;
}
