.iconSpanIcon {
  background-color: inherit !important;
  color: inherit !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1px;
  width: max-content;
}
