/* Generated code
export const styles = {
  ".iconSpanIcon": {
    width: "100%",
    height: "100%",
    backgroundColor: "inherit !important",
    color: "inherit !important",
    display: "flex",
    justifyContent: "center",
    alignItems: "center",
    textAlign: "center"
  }
} */

/* Original CSS */
.iconSpanIcon {
  background-color: inherit !important;
  color: inherit !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1px;
  width: max-content;
}
