/* Generated code
export const styles = {
  ".containerIconButton": {
    height: "100%",
    display: "flex",
    alignItems: "center",
    backgroundColor: "transparent",
    color: "inherit !important"
  },
  ".labelIconButton": {
    fontSize: "var(--base-additional-text-font-size)",
    fontFamily: "inherit",
    fontWeight: 400,
    color: "#545454",
    width: "100%",
    height: "100%",
    display: "flex",
    justifyContent: "left",
    alignItems: "flex-end"
  },
  ".errorTextIconButton": {
    fontSize: "var(--base-additional-text-font-size)",
    fontFamily: "inherit",
    fontWeight: 400,
    color: "var(--base-error-color)",
    width: "100%",
    height: "100%",
    display: "flex",
    justifyContent: "left",
    alignItems: "flex-start"
  },
  ".buttonIconIconButton": {
    fontFamily: "inherit",
    WebkitAppearance: "none",
    appearance: "none",
    outline: "none",
    height: "100%",
    transition: "all var(--transition-duration)",
    fontSize: "var(--font-size)",
    backgroundColor: "transparent",
    color: "inherit !important",
    borderRadius: "3px"
  },
  ".buttonIconIconButton:hover,\n.buttonIconIconButton:focus": {
    background:
      "radial-gradient(\n    var(--button-icon-bg-color-secondary),\n    transparent,\n    transparent\n  )",
    outline: "none"
  },
  ".buttonIconIconButton:active": {
    backgroundColor: "transparent",
    scale: "0.95"
  },
  ".buttonIconIconButton:disabled": {
    color: "var(--disabled-bg-color) !important",
    cursor: "default !important"
  },
  ".iconIconButton": {
    color: "inherit !important",
    fontSize: "var(--font-size)",
    height: "100%",
    width: "100%"
  }
} */

/* Original CSS */

.buttonIconIconButton {
  font-size: 1.2em;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  /* width: 100%;
  height: 100%; */
  transition: all var(--transition-base-duration);
  background-color: inherit;
  background: inherit;
  color: inherit;
  padding: 3px;
}

.buttonIconIconButton:hover,
.buttonIconIconButton:focus {
  background: radial-gradient(
    var(--button-icon-bg-color-secondary),
    transparent,
    transparent
  );
  outline: none;
}

.buttonIconIconButton:active {
  background-color: transparent;
  scale: 0.95;
}

.buttonIconIconButton:disabled {
  background-color: var(--color-base-gray);
  color: var(--color-base-gray-darker);
}

.buttonIconIconButton span {
  align-items: center;
  text-align: center;
  width: 100%;
}
