:root {
    /* BASE COLORS */
    --color-base-blue: #00537a;
    --color-base-blue-darker: #003b57;
    --color-base-blue-lighter: #006999;
    --color-base-gray: #727c82;
    --color-base-gray-darker: #41474a;
    --color-base-gray-lighter: #92a0a8;
    --color-base-green: #2a963c;
    --color-base-green-darker: #21732f;
    --color-base-green-ligher: #3eb051;
    --color-base-red: #e0223e;
    --color-base-green-darker: #e3566b;
    --color-base-green-ligher: #9c1f32;
    --color-base-dirty-white: #fcfcfc;


    /* BASE FONTS */

    --font-base-ubuntu: 'Ubuntu', sans-serif;
  
    /* DISABLED */
    --disabled-bg-color: #dedede;
    --disabled-text-color: #666666;
  
  
    
  }
  
  .html {
    /* font-family: "Roboto", sans-serif; */
  }


  