/* Generated code
export const styles = {
  ".containerTextArea": {
    width: "100%",
    height: "100%",
    display: "grid",
    gridTemplateRows:
      "var(--base-label-size) minmax(55%, auto) var(--base-error-text-size)",
    paddingTop: "3px",
    paddingLeft: "1px",
    paddingRight: "1px",
    paddingBottom: "1px"
  },
  ".containerWithSideLabelTextArea": {
    width: "100%",
    height: "100%",
    display: "flex",
    paddingTop: "3px",
    paddingLeft: "1px",
    paddingRight: "1px",
    paddingBottom: "1px"
  },
  ".labelTextArea": {
    fontSize: "var(--base-additional-text-font-size)",
    fontFamily: "inherit",
    fontWeight: 400,
    color: "#545454",
    width: "100%",
    height: "100%",
    display: "flex",
    justifyContent: "left",
    alignItems: "flex-end"
  },
  ".errorTextTextArea": {
    fontSize: "var(--base-additional-text-font-size)",
    fontFamily: "inherit",
    fontWeight: 400,
    color: "var(--base-error-color)",
    width: "100%",
    height: "100%",
    display: "flex",
    justifyContent: "left",
    alignItems: "flex-start"
  },
  ".standardInputTextArea": {
    fontFamily: "inherit",
    WebkitAppearance: "none",
    appearance: "none",
    outline: "none",
    width: "100%",
    resize: "vertical",
    backgroundColor: "var(--input-bg-color)",
    transition: "all var(--transition-duration)",
    fontSize: "var(--font-size)",
    borderBottom: "2.7px solid var(--base-color)",
    display: "block",
    overflow: "hidden"
  },
  ".containerTextArea>*:focus .container>label": { color: "red !important" },
  ".standardInputTextArea:focus": {
    backgroundColor: "var(--input-bg-focus-color)"
  },
  ".standardInputTextArea:disabled": {
    backgroundColor: "var(--disabled-bg-color)",
    color: "var(--disabled-text-color)"
  }
} */

/* Original CSS */
.containerTextArea {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: var(--base-label-size) minmax(55%, auto) var(
      --base-error-text-size
    );
  padding-top: 3px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}

.containerWithSideLabelTextArea {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 3px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}

.labelTextArea {
  font-size: var(--base-additional-text-font-size);
  font-family: inherit;
  font-weight: 400;
  color: #545454;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.errorTextTextArea {
  font-size: var(--base-additional-text-font-size);
  font-family: inherit;
  font-weight: 400;
  color: var(--base-error-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.standardInputTextArea {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  resize: vertical;
  background-color: var(--input-bg-color);
  transition: all var(--transition-duration);
  font-size: var(--font-size);
  border-bottom: 2.7px solid var(--base-color);
  display: block;
  overflow: hidden;
  /* height: 60%; */
}

.containerTextArea > *:focus .container > label {
  color: red !important;
}

.standardInputTextArea:focus {
  background-color: var(--input-bg-focus-color);
}

.standardInputTextArea:disabled {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
}
