.standardInputButton {
  font-size: var(--font-size-base);
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  transition: all var(--transition-base-duration);
  background-color: var(--color-base-blue);
  background: var(--color-base-blue);
  color: var(--color-base-dirty-white);
  height: 100%;
  width: 100%;
  border: 0px;
  box-sizing: border-box;
}

.standardInputButton span {
  align-items: center;
  text-align: center;
}

.standardInputButton:hover {
  background-color: var(--color-base-blue-darker);
  cursor: pointer;
}

.standardInputButton:disabled {
  background-color: var(--color-base-gray-lighter);
  color: var(--color-base-gray-darker);
  cursor: inherit;
  opacity: 0.7;
}
