/* Code copy from stamp app without useles css. NOT CHECKED */
/* .standardInputButton {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  transition: all var(--transition-duration);
  font-size: var(--font-size);
  background-color: var(--add-button-bg-color-primary);
  background: var(--lanaco-accent-color);
  color: var(--add-button-text-color);
  padding: 5px 15px;
}

.standardInputButton span {
  display: flex;
  align-items: center;
  text-align: center;
}

.standardInputButton > span > span {
  margin-right: 5px;
}

.standardInputButton:hover {
  background: #004b6f;
}

.standardInputButton:disabled {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
} */

 /* Neno's code */
.standardInputButton {
  font-size: var(--font-size-base);
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  transition: all var(--transition-base-duration);
  background-color: var(--color-base-blue);
  background: var(--color-base-blue);
  color: var(--color-base-dirty-white);
  padding: 5px;
  min-height: 60%;
  border: 0px;
}

.standardInputButton span {
  align-items: center;
  text-align: center;
}

.standardInputButton:hover {
  background-color: var(--color-base-blue-darker);
  cursor: pointer;
}

.standardInputButton:disabled {
  background-color: var(--color-base-gray-lighter);
  color: var(--color-base-gray-darker);
  cursor: inherit;
}
