.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: var(--base-label-size) minmax(55%, auto) var(
      --base-error-text-size
    );
  padding-top: 3px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}

.innerContainer {
  display: flex;
}

.clearInputSpan {
  background-color: var(--input-bg-color);
  transition: all var(--transition-duration);
  font-size: var(--font-size);
  border-bottom: 2.7px solid var(--base-color);
  padding-right: 5px;
}

.label {
  font-size: var(--base-additional-text-font-size);
  font-family: inherit;
  font-weight: 400;
  font-size: 0.8em;
  color: #545454;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  padding-bottom: 2px;
}

.errorText {
  font-size: var(--base-additional-text-font-size);
  font-family: inherit;
  font-weight: 400;
  color: var(--base-error-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.standardInput {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: var(--input-bg-color);
  transition: all var(--transition-duration);
  font-size: var(--font-size);
  border-bottom: 2.7px solid var(--base-color);
  padding: 5px 10px;
}

.standardInput:focus {
  background-color: var(--input-bg-focus-color);
}

.standardInput:disabled {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
}

.labelThemeLANACO {
  color: var(--lanaco-accent-color);
}

.labelThemeLANACO_INV {
  color: var(--lanaco-inv-accent-color);
}

.labelThemeBURG {
  color: var(--burgundy-accent-color);
}

.labelThemeBURG_INV {
  color: var(--burgundy-inv-accent-color);
}

.labelThemeFOREST {
  color: var(--forest-accent-color);
}

.labelThemeFOREST_INV {
  color: var(--forest-inv-accent-color);
}

.labelThemeCOFFEE {
  color: var(--coffee-accent-color);
}

.labelThemeCOFFEE_INV {
  color: var(--coffee-inv-accent-color);
}

.labelThemeMINT {
  color: var(--mint-accent-color);
}

.themeLANACO {
  background-color: var(--lanaco-components-color-secondary);
  border-bottom: 2.7px solid var(--lanaco-components-color-primary);
}

.themeLANACO:focus {
  background-color: var(--lanaco-grids-and-forms-color);
}

.themeLANACO_INV {
  background-color: var(--lanaco-inv-components-color-secondary);
  border-bottom: 2.7px solid var(--lanaco-inv-components-color-primary);
}

.themeLANACO_INV:focus {
  background-color: var(--lanaco-inv-grids-and-forms-color);
}

.themeBURG {
  background-color: var(--burgundy-components-color-secondary);
  border-bottom: 2.7px solid var(--burgundy-components-color-primary);
}

.themeBURG:focus {
  background-color: var(--burgundy-grids-and-forms-color);
}

.themeBURG_INV {
  background-color: var(--burgundy-inv-components-color-secondary);
  border-bottom: 2.7px solid var(--burgundy-inv-components-color-primary);
}

.themeBURG_INV:focus {
  background-color: var(--burgundy-inv-grids-and-forms-color);
}

.themeFOREST {
  background-color: var(--forest-components-color-secondary);
  border-bottom: 2.7px solid var(--forest-components-color-primary);
}

.themeFOREST:focus {
  background-color: var(--forest-grids-and-forms-color);
}

.themeFOREST_INV {
  background-color: var(--forest-inv-components-color-secondary);
  border-bottom: 2.7px solid var(--forest-inv-components-color-primary);
}

.themeFOREST_INV:focus {
  background-color: var(--forest-inv-grids-and-forms-color);
}

.themeCOFFEE {
  background-color: var(--coffee-components-color-secondary);
  border-bottom: 2.7px solid var(--coffee-components-color-primary);
}

.themeCOFFEE:focus {
  background-color: var(--coffee-grids-and-forms-color);
}

.themeCOFFEE_INV {
  background-color: var(--coffee-inv-components-color-secondary);
  border-bottom: 2.7px solid var(--coffee-inv-components-color-primary);
}

.themeCOFFEE_INV:focus {
  background-color: var(--coffee-inv-grids-and-forms-color);
}

.themeMINT {
  background-color: var(--mint-components-color-secondary);
  border-bottom: 2.7px solid var(--mint-components-color-primary);
}

.themeMINT:focus {
  background-color: var(--mint-grids-and-forms-color);
}

.listItem {
  cursor: pointer;
  background-color: white;
  z-index: 10000;
}

.listItem:hover {
  z-index: 10000;
  color: var(--lanaco-accent-color);
  background-color: whitesmoke;
  position: relative;
}

.list {
  z-index: 10000;
  border: 1px solid gray;
  position: relative;
}

.ulListDiv {
  background-color: white !important;
  z-index: 10000;
  border: 1px solid gray;
  position: relative;
}
