.innerContainer {
  display: flex;
}

.clearInputSpan {
  background-color: var(--color-base-backgroud);
  font-size: var(--font-size-base);
  border-bottom: 2px solid var(--color-base-blue);
}

.clearInputSpanInFocus {
  background-color: white;
  font-size: var(--font-size-base);
  border-bottom: 2px solid var(--color-base-blue);
}

.standardInput {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background-color: var(--color-base-backgroud);
  transition: all var(--transition-base-duration);
  font-size: var(--font-size-base);
  border: 0px;
  border-bottom: 2px solid var(--color-base-blue);
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
}

.standardInput:focus {
  background-color: var(--color-base-white);
}

.standardInput:disabled {
  background-color: var(--color-base-gray-lighter);
  color: var(--color-base-gray-darker);
  cursor: inherit;
  border-bottom: 2px solid var(--color-base-gray-darker);
}

.listItem {
  cursor: pointer;
  background-color: white;
  z-index: 10000;
  outline: none;
  list-style: none;
}

.listItem:hover {
  z-index: 10000;
  color: var(--color-base-gray);
  background-color: var(--color-base-backgroud);
  position: relative;
}

.list {
  z-index: 10000;
  border: 1px solid gray;
  position: relative;
  outline: none;
  list-style: none;
}

.ulListDiv {
  background-color: white !important;
  z-index: 10000;
  border: 1px solid gray;
  position: relative;
}
