.standardInputTextInput {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background-color: var(--color-base-backgroud);
  transition: all var(--transition-base-duration);
  font-size: var(--font-size-base);
  border: 0px;
  border-bottom: 2px solid var(--color-base-blue);
  height: 100%;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
}

.standardInputTextInput:focus {
  background-color: var(--color-base-white);
}

.standardInputTextInput:disabled {
  background-color: var(--color-base-gray-lighter);
  color: var(--color-base-gray-darker);
  cursor: inherit;
  border-bottom: 2px solid var(--color-base-gray-darker);
  opacity: 0.7;
}
