.text-input {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background-color: var(--color-base-backgroud);
  transition: all var(--transition-base-duration);
  font-size: var(--font-size-base);
  border: 0px;
  border-bottom: 2px solid var(--color-base-blue);
  /* height: 100%;
  width: 100%;
  padding: 6px 6px; */
  /* padding-left: 4px; */
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
}

/* ==================== */

.text-input-s {
  font-size: 12px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
}

.text-input-m {
  font-size: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.text-input-l {
  font-size: 20px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
