.tagItemButton {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-style: italic;
  color: black;
  text-align: center;
}

.tagItemButton:hover {
  background-color: #fff2ee;
}

.tagItemWrapper {
  width: 100px;
  height: 30px;
  display: flex;
  font-style: italic;
  border: black;
}

.selectedItem {
  color: var(--base-color);
  background-color: #fff2cc;
  width: 100%;
  height: 100%;
  font-style: italic;
}

.selectedItem:active {
  outline: none;
}

.selectedItem:focus {
  outline: none;
}

.selectedItem:focus {
  outline: none;
}

.tagSelector {
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
