/* Code copy from stamp app without useles css. CHECKED AND OK */
/* .dropbtn {
  font-size: var(--base-additional-text-font-size);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.disabled {
  color: gray;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  background-color: var(--lanaco-grids-and-forms-color);
  color: var(--color-base-blue) !important;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  padding: 2px;
}

.dropdownContent a:hover {
  background-color: gainsboro;
  color: #0091a7 !important;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.linkInnerSpan {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2px;
}

.linkIconSpan {
  min-width: 20%;
  max-width: 20%;
}

.iconSpan {
  position: relative;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 3px;
  }
}

.dropdown:hover .iconSpan {
  animation: mymove 0.4s;
  animation-iteration-count: infinite;
} */

/* Neno's code */
.dropbtn {
  font-size: var(--base-additional-text-font-size);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.disabled {
  color: gray;
}

.dropdown {
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  background-color: var(--lanaco-grids-and-forms-color);
  color: var(--color-base-blue) !important;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  padding: 2px;
}

.dropdownContent a:hover {
  background-color: gainsboro;
  color: #0091a7 !important;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.linkInnerSpan {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2px;
}

.linkIconSpan {
  min-width: 20%;
  max-width: 20%;
}

.iconSpan {
  position: relative;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 3px;
  }
}

.dropdown:hover .iconSpan {
  animation: mymove 0.4s;
  animation-iteration-count: infinite;
}
